.index{
    top:0;
    bottom: 0;
    position: relative;
    // overflow-y: auto;
}
.grid{
    bottom: 0;
    // position: absolute;
}
.function{
    display: flex;
}
.function addfunction{
    flex-direction: column;
}
.addfunction Matrix{
    display: inline-block;
    vertical-align: middle;
}   
.addfunction opertext{
    display: inline-block;
    vertical-align: middle;
}
